*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI,sans-serif;scroll-behavior:smooth;}
body{background:#020617;color:#e5e7eb}

/* NAV */
nav{
position:fixed;top:0;width:100%;background:#020617;
display:flex;justify-content:space-between;align-items:center;
padding:15px 50px;box-shadow:0 0 10px #000;z-index:999}
nav h2{color:#38bdf8}
nav ul{display:flex;list-style:none}
nav ul li{margin-left:20px}
nav ul li a{text-decoration:none;color:white;transition:.3s}
nav ul li a:hover{color:#38bdf8}

/* HERO */
.hero{
height:100vh;display:flex;flex-direction:column;
justify-content:center;align-items:center;text-align:center}
.hero h1{font-size:3rem;color:#38bdf8;animation:fadeIn 1.5s}
.hero p{font-size:1.2rem;margin:10px 0}
.hero-buttons{margin-top:20px}
.btn{
background:#38bdf8;color:black;padding:10px 20px;
text-decoration:none;border-radius:5px;margin:5px}
.btn-outline{
border:1px solid #38bdf8;color:#38bdf8;padding:10px 20px;
text-decoration:none;border-radius:5px;margin:5px}

/* CARD */
.card{
width:80%;margin:80px auto;padding:30px;
background:#020617;border-radius:12px;
box-shadow:0 0 15px black;animation:slideUp 1s}

/* SKILLS */
.skills span{
background:#0f172a;padding:8px 15px;border-radius:20px;
margin:5px;display:inline-block;transition:.3s}
.skills span:hover{background:#38bdf8;color:black}

/* PROJECTS */
.projects{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:20px}
.project{background:#0f172a;padding:20px;border-radius:10px}
.project-link{color:#38bdf8;text-decoration:none}

/* SOCIAL */
.social a{
font-size:22px;margin:10px;color:#38bdf8}

/* FOOTER */
footer{text-align:center;padding:20px;background:#020617;color:#94a3b8}

/* ANIM */
@keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes slideUp{from{transform:translateY(50px);opacity:0}to{transform:translateY(0);opacity:1}}

